@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');

*{
   font-family: 'Nunito', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   transition: all .2s linear;
   text-transform: capitalize;
}
html{
    font-size: 78.5%;
    overflow-x: hidden;
 }
body {
    margin: auto;
    background:#E8E4C9;
}
.cols {
    display: flex;
}
.dragCon .Guitar .dropCon {
    float: left;
}
.dragCon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
}
.dropCon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
}
.box{
    background-color: #aaffb5;
    height: 50px;
    align-items: center;
    justify-content: center;
    width: 100px;
    margin-bottom: 10px;
    
}
.drop {
    background-color: gray;
    height: 50px;
    align-items: center;
    justify-content: center;
    width: 100px;
    margin-bottom: 10px;    
    
}
.Guitar {
    background-image: url('Guitar.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: block;
    margin: 0 auto;
  width: 30000px;
  height: 600px;
  justify-content: center;
}
#remarks #scores {
    width: 100%;
    font-size: 56px;
}
#scores {
    border: 2px solid black;
}
h1{
    text-align: center;
    background-color: #ca7b80;
}